body{
	margin:0;
	padding:0;
	font-family: Arial, Helvetica, sans-serif;
	background-image: url("../Assets/stars.png");
	background-repeat: repeat;
}

h2{
	margin-top:1%;
	text-align:center;
	font-size:26px;
}

h6{
	text-align:center;
	font-size:15px;
	margin-bottom:5%;
	color:#f2cc8f;
	text-shadow:0.5px 0.5px 0px black;
}

a{
	text-decoration:none;
	color:inherit;
}

.inner-div{
	padding:3%;
	padding-bottom:1.5%;
	border: solid white;
	width:93%;
	height:100%;
	border-radius:32px;
}

form {
	margin-top:3%;
	margin-left: 3%;
	margin-right: 3%;
	background: rgba(224, 122, 95, 0.7);
	padding: 1%;
	border-radius: 32px;
	text-align: initial;
	font-size: 1.8em;
	color: rgb(238, 238, 238);
}

.formRow {
	display: flex;
	opacity: 0.9;
	margin: 50px 6%;
	text-align: center;
	flex-wrap: wrap;
	margin-top: 12px;
}

.formRow > * {
	flex-grow: 1;
}

.formRow > .textbox {
	flex-basis: 169px;
	flex-grow: 2;
}

.formRow > .textbox, .formRow > textarea {
	font-size: 1em;
}

.formRow p {
	display: inline-block;
	flex-basis: 0;
	margin: 0px;
	margin-right: 20px;
	text-align: right;
}

.formRow textarea {
	width: calc(90% - 4px);
	height: 100px;
	resize: vertical;
}

#submitBtn {
	height: 40px;
	width: 100px;
	padding: 0px;
	margin-left: calc(50% - 50px);
	margin-bottom: 15px;
	font-size: 18px;
	background-color: rgba(147, 31, 29, 1);
	color: rgb(238, 238, 238);
	border-width: 0px;
	cursor: pointer;
	border-radius:32px;
}

ul {
	list-style-type: none;
	margin: 1%;
	padding: 0;
	overflow: hidden;
  }

  li {
	float: right;
  }

  li a {
	display: block;
	color: white;
	font-size:23px;
	padding: 8px;
    text-align:center;
	text-decoration:none;
	padding: 14px 16px;
  }

  li a:hover {
	color:#ee6c4d;
	transition-duration:0.2s;
  }

  .fontcolor{
	  color:white;
  }
