body{
	margin:0;
}

.divSetting{
height:265px;
width: auto;
overflow:visible;
border: none;
overflow-x:hidden;
overflow-y:auto;
margin-top: 15px;
}
.tableSettings{
	border: 1px black solid;
}
.fontSettings{
	font-size: 11px;
}

footer {
	font-size:20px;
	text-align: center;
	color: white;
    padding:3%;
	bottom:0;
	height:50px;
	background: linear-gradient(0deg, rgba(53,82,109,1) 0%, rgba(53,82,109,0.7595238779105392) 20%, rgba(53,82,109,0.5550420851934523) 40%, rgba(53,82,109,0.35896365382090334) 60%, rgba(53,82,109,0.1600841020001751) 80%, rgba(53,82,109,0) 100%);
}

  span:hover{
	transition-duration:0.2s;
	font-size:23px;
  }

  ul{
	  margin:1%;
  }


