@font-face {
	font-family: Crimson_Text;
	src: url(../Assets/CrimsonText-Regular.ttf);
}

body {
	margin: 0;
	background-color:#141414;
	font-family: Arial, Helvetica, sans-serif;
	background-attachment: fixed;
	background-image: url("../Assets/stars.png");
	background-repeat: repeat;;
}

.flex-container {
	display: flex;

	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;

	padding-top: 30px;
	padding-bottom: 30px;
}

.flex-item {
	margin: 10px;
}

.games {
	background-color: #ff4433;
}

.books {
	background-color: #33ee33
}

.movies {
	background-color: #5566ff
}

.shows {
	background-color: #9c50ff;
}

.grid {
	display: grid;
	grid-auto-flow: dense;
	min-width: 300px;
	width: 30vw;

	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.grid .overlay {
	display: flex;

	width: 100%;
	height: 100%;
	border-radius: 10px;

	justify-content: center;
	align-items: center;
	text-align: center;

	opacity: 0.75;

	background-color: #222222c0;

	transition: 0.5s;
}

.grid .overlay:hover {
	opacity: 1;
}

.grid > * {
	min-height: 100px;
	height: calc(100% - 5px);
	margin: 2.5px;
	border-radius: 10px;

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: black;

	color: #cacaca;
	text-decoration: none;
	font-size: 1.3em;

	transition: 0s;
}

.books > div.grid > * {
	min-height: 152px;
}

.grid > *:hover {
	transform: scale(1.04);
}

.two-wide {
    grid-column: auto / span 2;
}

.two-wide:hover {
	transform: scale(1.02);
}

nav {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;

	background-color: #222222;
}

nav > * {
	margin: 5px;
	padding: 5px 10px;

	text-decoration: none;
	font-size: 1.5em;
	color: #888888;

	transition: 0.25s;
}

nav > *:hover {
	color: #333333;
}

nav > *:nth-child(1):hover {
	background-color: #ff4433bb;
}

nav > *:nth-child(2):hover {
	background-color: #33ee33bb;
}

nav > *:nth-child(3):hover {
	background-color: #5566ffbb;
}

nav > *:nth-child(4):hover {
	background-color: #9c50ffbb;
}

nav > *:nth-child(5):hover {
	background-color: #ff641cbb;
}

h1 {
	font-family:Crimson_Text;
	font-size:95px;
	color: #e07a5f;
	margin-left:6%;
	margin-right:6%;
	padding-top:0;
	margin-top:0;
	text-shadow: 0px 3px 3px black;
	font-weight: bold;
	text-align:center;
}

p.intro-text {
	color:white;
	margin-left: 20px;
	margin-right: 5px;
	margin-top: 15px;
	margin-bottom: 0px;

	font-size: 1.6em;
}

@media only screen and (max-width: 550px) {
	h1 {
		font-size: 65px;
	}
}
