.flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.flex-item {
	margin-top: 10px;
	margin-bottom: 10px;
}

.games {
	background-color: #ff4433;
}

.books {
	background-color: #33ee33
}

.movies {
	background-color: #5566ff
}

.grid {
	display: grid;
	min-width: 300px;
	width: 30vw;

	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.card {
	min-height: 100px;
	margin: 2.5px;
	border-radius: 10px;

	background-color: black;

	transition: 0s;
}

.card:hover {
	transform: scale(1.04);
}
