.flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.flex-item {
	margin: 10px;
}

.games {
	background-color: #ff4433;
}

.books {
	background-color: #33ee33
}

.movies {
	background-color: #5566ff
}

.grid {
	display: grid;
	grid-auto-flow: dense;
	min-width: 300px;
	width: 30vw;

	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.grid .overlay {
	display: flex;

	width: 100%;
	height: 100%;
	border-radius: 10px;

	justify-content: center;
	align-items: center;
	text-align: center;

	opacity: 0;

	background-color: #22222260;

	transition: 0.5s;
}

.grid .overlay:hover {
	opacity: 1;
}

.grid > * {
	min-height: 100px;
	height: calc(100% - 5px);
	margin: 2.5px;
	border-radius: 10px;

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: black;

	color: #cacaca;
	text-decoration: none;
	font-size: 1.3em;

	transition: 0s;
}

.grid > *:hover {
	transform: scale(1.04);
}

.two-wide {
    grid-column: auto / span 2;
}

.two-wide:hover {
	transform: scale(1.02);
}

@media (hover: none) {
	.grid .overlay {
		opacity: 1;
	}
}
